openapi: 3.0.3
info:
  title: SciVerse Agent Tools
  description: |
    SciVerse 开放平台面向 AI Agent 的检索能力 API。
    所有接口均需 Bearer Token 鉴权（来自 platform-console 控制台）。
  x-en-description: |
    SciVerse open platform retrieval API for AI agents.
    All endpoints require Bearer Token authentication (obtain one from
    https://sciverse.space). The platform indexes academic papers (titles,
    authors, abstracts, full-text chunks) for citation-grade RAG.
  version: 0.2.0
  x-sciverse-tools-version: 0.2.0

tags:
  - name: search
    description: 检索类操作（结构化元数据 + 语义检索）
  - name: content
    description: 原文读取类操作

servers:
  - url: https://api.sciverse.space
    description: 生产环境

paths:
  /meta-search:
    post:
      tags: [search]
      summary: 按结构化条件检索学术文献元数据
      operationId: search_papers
      description: |
        按结构化条件检索学术文献元数据（标题、作者、期刊、年份、摘要等）。
        适用：「查找 Hinton 在 2020-2023 年发表的论文」「找 Nature 上关于 CRISPR 的近期文献」。
        不适用：自然语言问答检索 → 用 semantic_search；查全文片段 → 用 read_content。
        返回：论文元数据列表，每条含 doc_id、title、author、abstract、publication_venue_name、publication_published_year 等。
      x-en-summary: Search academic papers by structured filters
      x-en-description: |
        Search academic papers by structured filters (title, authors, journal,
        year, subjects, etc.).
        Use when: "find Hinton's papers from 2020-2023", "Nature papers on
        CRISPR".
        Not for: natural-language Q&A retrieval (use semantic_search) or
        full-text snippets (use read_content).
        Returns: list of papers; each entry has doc_id, title, author, abstract,
        publication_venue_name, publication_published_year.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchPapersRequest'
      responses:
        '200':
          description: 检索结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPapersResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { $ref: '#/components/responses/BadGateway' }
  /agentic-search:
    post:
      tags: [search]
      summary: 自然语言语义检索（RAG 用）
      operationId: semantic_search
      description: |
        自然语言语义检索，返回相关文献片段（chunk）用于 RAG 回答。
        适用：「Transformer 注意力机制如何工作？」「最新的蛋白质折叠预测方法有哪些？」
        不适用：精确字段过滤 → search_papers；取完整原文 → read_content。
        返回：相关 chunk 列表，每条含 chunk_id/doc_id/abstract/chunk/score/title/offset。
        典型链路：semantic_search → 选取 chunk → read_content(doc_id, offset)。
      x-en-summary: Semantic search over academic papers (for RAG)
      x-en-description: |
        Natural-language semantic search returning relevant paper chunks for
        RAG-style answering.
        Use when: "How does Transformer attention work?", "What are recent
        methods for protein structure prediction?".
        Not for: precise field filtering (use search_papers) or fetching full
        original text (use read_content).
        Returns: list of chunks; each entry has chunk_id, doc_id, abstract,
        chunk, score, title, offset.
        Typical chain: semantic_search → pick chunk → read_content(doc_id,
        offset).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SemanticSearchRequest' }
      responses:
        '200':
          description: 检索结果
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SemanticSearchResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { $ref: '#/components/responses/BadGateway' }
        '503':
          description: 嵌入或检索后端暂不可用
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }
  /content:
    get:
      tags: [content]
      summary: 按字节区间读取文献原文片段
      operationId: read_content
      description: |
        按字节区间读取文献原文片段。通常配合 semantic_search 返回的 doc_id/offset 使用，
        用于扩展上下文（往前/往后读更多字节）。
        返回：UTF-8 文本片段、bytes_returned、next_offset、是否还有后续。
      x-en-summary: Read paper content by byte range
      x-en-description: |
        Read a UTF-8 byte range of a paper's original text. Typically used with
        a doc_id/offset returned by semantic_search to expand context (read
        more bytes before or after a chunk).
        Returns: text fragment, bytes_returned, next_offset, more (boolean).
      parameters:
        - name: doc_id
          in: query
          required: true
          schema: { type: string }
          description: 文献 ID（来自 search_papers / semantic_search）。
        - name: offset
          in: query
          required: false
          schema: { type: integer, format: int64, default: 0 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int64, default: 4096, maximum: 16384 }
      responses:
        '200':
          description: 内容片段
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReadContentResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { $ref: '#/components/responses/BadGateway' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    SearchPapersRequest:
      type: object
      properties:
        query:
          type: string
          description: BM25 全文关键词，匹配标题/摘要/期刊名/关键词字段。留空则纯靠结构化过滤。
        title_contains:
          type: string
          description: 标题中必须包含的词（仅匹配 title 字段）。
        abstract_contains:
          type: string
          description: 摘要中必须包含的词（仅匹配 abstract 字段）。
        authors:
          type: array
          items: { type: string }
          description: 作者名（任一命中即可）。SDK 内部映射到后端 `author` 字段（FILTER_OP_IN）。
        year_from:
          type: integer
          description: 起始发表年（含）。
        year_to:
          type: integer
          description: 结束发表年（含）。
        journals:
          type: array
          items: { type: string }
          description: 期刊名（任一命中即可）。SDK 内部映射到后端 `publication_venue_name` 字段（FILTER_OP_IN）。
        subjects:
          type: array
          items: { type: string }
          description: 学科分类，如 "computer science"、"biology"。
        filters_advanced:
          type: array
          description: 高级过滤逃生舱（仅当上述字段不够用时使用）。
          items:
            type: object
            required: [field, value]
            properties:
              field: { type: string }
              operator:
                type: string
                enum: [FILTER_OP_EQ, FILTER_OP_NE, FILTER_OP_GT, FILTER_OP_GTE, FILTER_OP_LT, FILTER_OP_LTE, FILTER_OP_IN, FILTER_OP_NIN, FILTER_OP_CONTAINS]
                default: FILTER_OP_EQ
              value: {}
        sort_by_year:
          type: string
          enum: [desc, asc, none]
          default: desc
        page:
          type: integer
          default: 1
          minimum: 1
        page_size:
          type: integer
          default: 10
          minimum: 1
          maximum: 50

    SearchPapersResponse:
      type: object
      required: [hits, total, page, page_size]
      properties:
        hits:
          type: array
          items: { $ref: '#/components/schemas/PaperMetadata' }
        total: { type: integer }
        page: { type: integer }
        page_size: { type: integer }

    PaperMetadata:
      type: object
      required: [doc_id, title]
      description: |
        文献元数据。字段名与 metadata-service 后端 `fields.py` 的真实字段一致，
        SDK 不做响应转换。`doc_id` 由 metadata-service 注入（OpenSearch `_id`）。
      properties:
        doc_id:
          type: string
          description: 文献唯一 ID（OpenSearch _id，通常为内容 sha256）。
        title: { type: string }
        author:
          type: array
          items: { type: string }
          description: 作者列表（fields.py 中字段名是 author 单数，但类型是 List[string]）。
        abstract: { type: string }
        publication_venue_name:
          type: string
          description: 期刊/会议名（fields.py 中是 String 类型）。
        publication_published_year: { type: integer }
        subjects:
          type: array
          items: { type: string }
        keywords:
          type: array
          items: { type: string }
        doi: { type: string }

    SemanticSearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 4096
          description: 自然语言查询，1-200 字最佳。
        top_k:
          type: integer
          default: 10
          minimum: 1
          maximum: 30
        source_types:
          type: array
          items: { type: string, enum: [web, pdf] }
        mode:
          type: string
          enum: [fast, balanced, quality]
          default: balanced
          description: |
            fast = 仅关键词召回 (~200ms)；balanced = 混合检索 (~600ms)；quality = LLM 改写 + 混合 (~2-4s)。

    SemanticSearchResponse:
      type: object
      required: [hits]
      properties:
        hits:
          type: array
          items: { $ref: '#/components/schemas/SearchChunk' }

    SearchChunk:
      type: object
      required: [chunk_id, doc_id, score, title, offset]
      properties:
        chunk_id: { type: string }
        doc_id: { type: string }
        title: { type: string }
        abstract: { type: string }
        chunk: { type: string }
        score: { type: number, format: float }
        offset:
          type: integer
          format: int64
          description: chunk 在原文中的字节偏移，可直接传给 read_content。
        page_no: { type: integer }
        source_type: { type: string }

    ReadContentResponse:
      type: object
      required: [text, bytes_returned, next_offset, more]
      properties:
        text: { type: string }
        bytes_returned: { type: integer }
        next_offset: { type: integer, format: int64 }
        more:
          type: boolean
          description: 为 true 表示可能还有后续字节，可用 next_offset 继续请求。

    ApiError:
      type: object
      required: [code, message]
      properties:
        code: { type: string }
        message: { type: string }
        request_id: { type: string }

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    Unauthorized:
      description: Bearer Token 缺失或无效
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    BadGateway:
      description: 上游服务不可用
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }

security:
  - bearerAuth: []
