openapi: 3.0.3
info:
  title: Sciverse Agent Tools
  description: |
    Sciverse 开放平台面向 AI Agent 的检索能力 API。
    所有接口均需 Bearer Token 鉴权（来自 platform-console 控制台）。
  x-en-description: |
    Sciverse open platform retrieval API for AI agents.
    All endpoints require Bearer Token authentication (obtain one from
    https://sciverse.space). The platform indexes academic papers (titles,
    authors, abstracts, full-text chunks) for citation-grade RAG.
  version: 0.7.1
  x-sciverse-tools-version: 0.7.1

tags:
  - name: search
    description: 检索类操作（结构化元数据 + 语义检索）
  - name: content
    description: 原文读取类操作
  - name: introspection
    description: 字段 catalog / schema introspection
  - name: resource
    description: 文献附属资源（图片等）

servers:
  - url: https://api.sciverse.space
    description: 生产环境

paths:
  /meta-search:
    post:
      tags: [search]
      summary: 按结构化条件检索学术文献元数据
      operationId: search_papers
      description: |
        按结构化条件检索学术文献元数据（标题、作者、期刊、年份、摘要等）。
        适用：「查找 Hinton 在 2020-2023 年发表的论文」「找 Nature 上关于 CRISPR 的近期文献」。
        不适用：自然语言问答检索 → 用 semantic_search；查全文片段 → 用 read_content。
        返回：论文元数据列表，每条含 unique_id（始终存在）、doc_id（仅当有全文）、title、author、abstract、publication_venue_name_unified、publication_published_year 等。
      x-en-summary: Search academic papers by structured filters
      x-en-description: |
        Search academic papers by structured filters (title, authors, journal,
        year, subjects, etc.).
        Use when: "find Hinton's papers from 2020-2023", "Nature papers on
        CRISPR".
        Not for: natural-language Q&A retrieval (use semantic_search) or
        full-text snippets (use read_content).
        Returns: list of papers; each entry has unique_id (always present),
        doc_id (only when full text exists), title, author, abstract,
        publication_venue_name_unified, publication_published_year.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchPapersRequest'
      responses:
        '200':
          description: 检索结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPapersResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { $ref: '#/components/responses/BadGateway' }
  /agentic-search:
    post:
      tags: [search]
      summary: 自然语言语义检索（RAG 用）
      operationId: semantic_search
      description: |
        自然语言语义检索，返回相关文献片段（chunk）用于 RAG 回答。
        适用：「Transformer 注意力机制如何工作？」「最新的蛋白质折叠预测方法有哪些？」
        不适用：精确字段过滤 → search_papers；取完整原文 → read_content。
        返回：相关 chunk 列表，每条含 chunk_id/doc_id/abstract/chunk/score/title/offset。
        典型链路：semantic_search → 选取 chunk → read_content(doc_id, offset)。
      x-en-summary: Semantic search over academic papers (for RAG)
      x-en-description: |
        Natural-language semantic search returning relevant paper chunks for
        RAG-style answering.
        Use when: "How does Transformer attention work?", "What are recent
        methods for protein structure prediction?".
        Not for: precise field filtering (use search_papers) or fetching full
        original text (use read_content).
        Returns: list of chunks; each entry has chunk_id, doc_id, abstract,
        chunk, score, title, offset.
        Typical chain: semantic_search → pick chunk → read_content(doc_id,
        offset).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SemanticSearchRequest' }
      responses:
        '200':
          description: 检索结果
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SemanticSearchResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { $ref: '#/components/responses/BadGateway' }
        '503':
          description: 嵌入或检索后端暂不可用
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }
  /meta-catalog:
    get:
      tags: [introspection]
      summary: 列出所有可用字段、能否过滤/排序、枚举值样本
      operationId: list_catalog
      description: |
        返回 search_papers 所有可用字段的 catalog：字段名、类型、能否过滤/排序、
        是否默认返回、字段说明、FilterOperator 清单等。
        适用：「我该用哪个字段过滤 DOI?」「access_oa_status 有哪些可能值？」
        「`metadata_type` 的合法取值是？」
        不适用：实际查询文献，那是 search_papers / semantic_search 的事。
        典型用法：Agent 第一次接触 Sciverse 或碰到模糊字段需求时先调一次本接口，
        把 schema 装进 working memory，后续精确构造 search_papers 的 filters。
        include_sample_values=true 时返回枚举值样本（OpenSearch terms agg，缓存 24h）。
      x-en-summary: List available fields, filterability, and sample values
      x-en-description: |
        Returns the schema catalog for search_papers: every field name, type,
        whether it's filterable / sortable, default-return status, human
        description, and applicable FilterOperators.
        Use when: "Which field do I filter by DOI?", "What values can
        access_oa_status take?", "What's the right enum for metadata_type?".
        Not for: actually searching papers (use search_papers / semantic_search).
        Typical pattern: call once when first encountering Sciverse or facing
        an ambiguous field need, then construct precise search_papers filters
        from the returned schema.
        Pass include_sample_values=true to also fetch top-20 values for
        enum-like fields (OpenSearch terms aggregation, 24h cached).
      parameters:
        - name: include_sample_values
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: 是否拉取 enum-like 字段的取值样本。false 仅返回静态 schema（毫秒级）；true 触发 OpenSearch terms agg（首次几百毫秒，之后 24h 走缓存）。
      responses:
        '200':
          description: catalog
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { $ref: '#/components/responses/BadGateway' }

  /meta-paper-relations:
    post:
      tags: [search]
      summary: 分页查一篇论文的引用/被引/相关工作列表
      operationId: list_paper_relations
      description: |
        分页返回某篇论文的引用关系完整列表。citations/references/related_works 是无界数组
        （高被引文献可达数千条），search_papers 只内联截断少量，要翻完整列表用本接口。
        适用：「论文 X 引用了哪些文献」（relation=REFERENCES）、「哪些文献引用了论文 X」
        （relation=CITATIONS）、「与论文 X 相关的工作」（relation=RELATED_WORKS）。
        注意：CITATIONS（被引：谁引用了我）与 REFERENCES（参考文献：我引用了谁）方向相反。
        典型链路：先 search_papers / semantic_search 拿到 unique_id，再用本接口按 relation 分页。
      x-en-summary: Paginate a paper's citations / references / related works
      x-en-description: |
        Paginate the full relation list of a paper. citations/references/related_works
        are unbounded arrays (a highly-cited paper can have thousands); search_papers
        only inlines a truncated few, so use this endpoint for the full list.
        Use when: "What does paper X cite?" (relation=REFERENCES), "Which papers cite
        paper X?" (relation=CITATIONS), "Works related to paper X" (relation=RELATED_WORKS).
        Note: CITATIONS (incoming: who cites me) and REFERENCES (outgoing: who I cite)
        are opposite directions.
        Typical chain: get unique_id from search_papers / semantic_search, then paginate
        here by relation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [unique_id, relation]
              properties:
                unique_id:
                  type: string
                  description: 目标论文 unique_id（如 paper:10.1038/xxx），来自 search_papers / semantic_search；勿传 doc_id。
                relation:
                  type: string
                  enum: [CITATIONS, REFERENCES, RELATED_WORKS]
                  description: 关系类型。CITATIONS=被引（谁引用了我）；REFERENCES=参考文献（我引用了谁）；RELATED_WORKS=相关工作。
                page:
                  type: integer
                  default: 1
                  minimum: 1
                page_size:
                  type: integer
                  default: 25
                  minimum: 1
                  maximum: 200
      responses:
        '200':
          description: 关系列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        id_type: { type: string }
                        title: { type: string }
                  total_count: { type: integer }
                  page: { type: integer }
                  page_size: { type: integer }
                  total_pages: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: unique_id 对应文档不存在
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }
        '502': { $ref: '#/components/responses/BadGateway' }

  /content:
    get:
      tags: [content]
      summary: 按字节区间读取文献原文片段
      operationId: read_content
      description: |
        按字节区间读取文献原文片段。通常配合 semantic_search 返回的 doc_id/offset 使用，
        用于扩展上下文（往前/往后读更多字节）。
        返回：UTF-8 文本片段、bytes_returned、next_offset、是否还有后续。
      x-en-summary: Read paper content by byte range
      x-en-description: |
        Read a UTF-8 byte range of a paper's original text. Typically used with
        a doc_id/offset returned by semantic_search to expand context (read
        more bytes before or after a chunk).
        Returns: text fragment, bytes_returned, next_offset, more (boolean).
      parameters:
        - name: doc_id
          in: query
          required: true
          schema: { type: string }
          description: 文献 ID（来自 search_papers / semantic_search）。
        - name: offset
          in: query
          required: false
          schema: { type: integer, format: int64, default: 0 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int64, default: 4096, maximum: 16384 }
      responses:
        '200':
          description: 内容片段
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReadContentResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { $ref: '#/components/responses/BadGateway' }

  /resource:
    get:
      tags: [resource]
      summary: 取文献附属图片（论文中的 Figure / Table 等）
      operationId: get_resource
      description: |
        按文件名取文献中嵌入的图片字节流（PNG / JPG 等）。
        触发场景：read_content 返回的 Markdown 中含 `![alt](file_name)` 形式的图片占位，
        agent 需要把图给用户看时调本接口。
        入参 file_name 来自 markdown 内的 url 段（相对路径，禁止 `\\` 或 `..`）。
        返回：HTTP 二进制流 + image/* Content-Type。
        SDK / MCP server 包装层会做 base64 + mime 转换以便 agent 多模态使用。
      x-en-summary: Fetch a paper-embedded image by file name
      x-en-description: |
        Returns the binary bytes of a paper figure / table image referenced
        inside read_content's Markdown via `![alt](file_name)` placeholders.
        Use when the user asks to see / display / describe a figure and
        read_content output contains an image reference.
        Input file_name comes from the Markdown URL part (relative path,
        no `\\` or `..`).
        Returns: raw image stream + image/* Content-Type. The SDK / MCP
        server wraps the bytes as base64 + mimeType so Claude (multimodal)
        can read the image directly.
      parameters:
        - name: file_name
          in: query
          required: true
          schema: { type: string }
          description: 图片相对路径，来自 read_content Markdown 中的 `![alt](file_name)` 占位。禁止 `\\` 与 `..`，不能以 `/` 开头。
      responses:
        '200':
          description: 图片二进制流
          content:
            image/png: { schema: { type: string, format: binary } }
            image/jpeg: { schema: { type: string, format: binary } }
            image/*: { schema: { type: string, format: binary } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { $ref: '#/components/responses/BadGateway' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    SearchPapersRequest:
      type: object
      properties:
        query:
          type: string
          description: BM25 全文关键词，匹配标题/摘要/期刊名/关键词字段。留空则纯靠结构化过滤。
        title_contains:
          type: string
          description: 标题中必须包含的词（仅匹配 title 字段）。
        abstract_contains:
          type: string
          description: 摘要中必须包含的词（仅匹配 abstract 字段）。
        authors:
          type: array
          items: { type: string }
          description: 作者名（任一命中即可）。SDK 内部映射到后端 `author` 字段（FILTER_OP_IN）。
        year_from:
          type: integer
          description: 起始发表年（含）。
        year_to:
          type: integer
          description: 结束发表年（含）。
        journals:
          type: array
          items: { type: string }
          description: 期刊名（任一命中即可）。SDK 内部映射到后端 `publication_venue_name_unified` 字段（FILTER_OP_IN，规范化后的载体名）。
        subjects:
          type: array
          items: { type: string }
          description: 学科分类，如 "computer science"、"biology"。
        filters_advanced:
          type: array
          description: 高级过滤逃生舱（仅当上述字段不够用时使用）。
          items:
            type: object
            required: [field, value]
            properties:
              field: { type: string }
              operator:
                type: string
                enum: [FILTER_OP_EQ, FILTER_OP_NE, FILTER_OP_GT, FILTER_OP_GTE, FILTER_OP_LT, FILTER_OP_LTE, FILTER_OP_IN, FILTER_OP_NIN, FILTER_OP_CONTAINS]
                default: FILTER_OP_EQ
              value: {}
        sort_by_year:
          type: string
          enum: [desc, asc, none]
          default: desc
        freshness_boost:
          type: string
          enum: [NONE, MILD, STRONG]
          default: NONE
          description: |
            模糊搜索新鲜度加权（仅 query 非空时生效；与 sort_by_year 互斥）。
            MILD: 近 10 年加权，适合日常查文献；STRONG: 近 3 年加权，适合跟踪
            研究方向 / 追最新进展。底层为 function_score + gauss decay over
            publication_published_date。
        page:
          type: integer
          default: 1
          minimum: 1
        page_size:
          type: integer
          default: 10
          minimum: 1
          maximum: 50

    SearchPapersResponse:
      type: object
      required: [hits, total, page, page_size]
      properties:
        hits:
          type: array
          items: { $ref: '#/components/schemas/PaperMetadata' }
        total: { type: integer }
        page: { type: integer }
        page_size: { type: integer }

    PaperMetadata:
      type: object
      required: [unique_id, title]
      description: |
        文献元数据。字段名与 metadata-service 后端 `fields.py` 的真实字段一致，
        SDK 不做响应转换。
        ---
        系统标识符两个分层（按需选用）:
          - `unique_id`: 元数据记录的全局唯一 ID。任何记录都有，与是否存在
            全文无关；适合做引用、去重、跨服务关联、引用图谱节点。
          - `doc_id`:    全文 artifact 的内容哈希（sha256）。仅在文档存在
            全文时返回；元数据-only 记录无此字段。要拉全文走 `read_content`
            接口必须用 doc_id。
        前端展示稳定 ID 用 unique_id；跨接口取全文用 doc_id。
      properties:
        unique_id:
          type: string
          description: 元数据记录的全局唯一 ID（任何记录都有，与是否有全文无关）。
        doc_id:
          type: string
          description: 全文 artifact 的内容哈希（sha256）。仅当文档存在全文时返回；元数据-only 记录无此字段，且无法用 doc_id 过滤命中。
        title: { type: string }
        author:
          type: array
          items: { type: string }
          description: 作者列表（fields.py 中字段名是 author 单数，但类型是 List[string]）。
        abstract: { type: string }
        publication_venue_name_unified:
          type: string
          description: 发表载体名称（期刊/会议；规范化形式——消除缩写/大小写/标点噪声，适合精确匹配/分组聚合）。
        publication_published_year: { type: integer }
        subjects:
          type: array
          items: { type: string }
        keywords:
          type: array
          items: { type: string }
        doi: { type: string }

    SemanticSearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 4096
          description: 自然语言查询，1-200 字最佳。
        top_k:
          type: integer
          default: 10
          minimum: 1
          maximum: 30
        source_types:
          type: array
          items: { type: string, enum: [web, pdf] }
        mode:
          type: string
          enum: [fast, balanced, quality]
          default: balanced
          description: |
            fast = 仅关键词召回 (~200ms)；balanced = 混合检索 (~600ms)；quality = LLM 改写 + 混合 (~2-4s)。

    SemanticSearchResponse:
      type: object
      required: [hits]
      properties:
        hits:
          type: array
          items: { $ref: '#/components/schemas/SearchChunk' }

    SearchChunk:
      type: object
      required: [chunk_id, doc_id, score, title, offset]
      properties:
        chunk_id: { type: string }
        doc_id: { type: string }
        title: { type: string }
        abstract: { type: string }
        chunk: { type: string }
        score: { type: number, format: float }
        offset:
          type: integer
          format: int64
          description: chunk 在原文中的字节偏移，可直接传给 read_content。
        page_no: { type: integer }
        source_type: { type: string }

    ReadContentResponse:
      type: object
      required: [text, bytes_returned, next_offset, more]
      properties:
        text: { type: string }
        bytes_returned: { type: integer }
        next_offset: { type: integer, format: int64 }
        more:
          type: boolean
          description: 为 true 表示可能还有后续字节，可用 next_offset 继续请求。

    CatalogResponse:
      type: object
      required: [fields, default_fields, filter_operators]
      properties:
        fields:
          type: array
          items: { $ref: '#/components/schemas/FieldCatalogEntry' }
        default_fields:
          type: array
          items: { type: string }
          description: search_papers 不传 fields 时默认返回的字段名清单。
        filter_operators:
          type: array
          items: { type: string }
          description: 支持的 FilterOperator 名（不带 FILTER_OP_ 前缀，如 "EQ" / "IN" / "CONTAINS"）。

    FieldCatalogEntry:
      type: object
      required: [name, type, filterable, sortable, searchable, default_returned]
      properties:
        name:
          type: string
          description: 字段名（与 search_papers 的 filters[].field 一致）。
        type:
          type: string
          description: 业务类型，如 String / Integer / Boolean / Float / List[string] / List[object] / Object。
        filterable: { type: boolean }
        sortable: { type: boolean }
        searchable:
          type: boolean
          description: 是否参与 query（BM25 全文搜索）。
        default_returned:
          type: boolean
          description: 未指定 fields 时是否默认返回。
        description:
          type: string
          description: 人类可读的字段说明（中文）。
        sample_values:
          type: array
          items: { type: string }
          description: 该字段的取值样本（仅 enum-like 字段；高 cardinality 字段为空）。
        operators:
          type: array
          items: { type: string }
          description: 适用的 FilterOperator 名（参考性，后端不强校验）。

    ApiError:
      type: object
      required: [code, message]
      properties:
        code: { type: string }
        message: { type: string }
        request_id: { type: string }

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    Unauthorized:
      description: Bearer Token 缺失或无效
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
    BadGateway:
      description: 上游服务不可用
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }

security:
  - bearerAuth: []
